html, body {
    font-family: Arial, sans-serif;
    background-color: #000000c4;
    margin: 0;
    padding: 0;
}

.p5Canvas {
    /* display: block; */
    width: 100% !important; 
    height: auto !important;
}